// Catppuccin Latte 
$primaryText: #4c4f69;
$inverseText: #4c4f69;
$primaryBackground: #eff1f5;
$secondaryBackground: #eff1f5;
$controlWidgetBackground: #bcc0cc;
$accentBackground: #eff1f5;
$accentBorder: #d20f39;
$contrastBorder: #acb0be;
$standardBorder: #ccd0da;
$secondaryText: #5c5f77;
$disabledText: #9ca0b0;
$selectedElement: #ccd0da;
$tooltipBackground: #bcc0cc;
$activated: #40a02b;
$link: #1e66f5;
