// Catppuccin Mocha 
$primaryText: #cdd6f4;
$inverseText: #bac2de;
$primaryBackground: #1e1e2e;
$secondaryBackground: #181825;
$controlWidgetBackground: #313244;
$accentBackground: #1e1e2e;
$accentBorder: #f38ba8;
$contrastBorder: #585b70;
$standardBorder: #45475a;
$secondaryText: #a6adc8;
$disabledText: #6c7086;
$selectedElement: #45475a;
$tooltipBackground: #45475a;
$activated: #a6e3a1;
$link: #89b4fa;
